
body {
    min-width: 700px;
}
.eyes {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    z-index: 1;
    display: float;
    min-width: 700px;
  }
  .eye {
    width: 75px;
    height: 60px;
    background: #fff;
    display: inline-block;
    margin: 45px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .ball {
    width: 25px;
    height: 25px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
  }
  /* EVERYTHING ABOVE WAS COPIED FROM */
.items1{
    background-image: url("No_Eyes_-_640x951_72_-_Giuseppe_Arcimboldo_-_Self_Portrait.png");
    width: 640px;
    height: 951px;
    grid-area: overlap;
    align-self: center;
    justify-self: center;
    z-index: 2;
}

.items2{
    background-image: url("GoldFrame_MovingEyes.png"); 
    width: 640px;
    height: 951px;
    grid-area: overlap;
    align-self: center;
    justify-self: center;
    z-index: 3;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap"; 
}