body {
  background-image: url("images/Chiang-Mai_Thailand_Brick-wall-01.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: fit-content;
}
.eyes {
    position: absolute;
    top: 190px;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    z-index: 1;
    display: float;

  }
  .eye {
    width: 35px;
    height: 35px;
    background: #fff;
    display: inline-block;
    margin: 20px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  .ball {
    width: 10px;
    height: 10px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
  }

.items1{
    background-image: url("images/No_Eyes_-_640x951_72_-_Giuseppe_Arcimboldo_-_Self_Portrait.png");
    background-size:99% auto;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 300px;
    height: auto;
    grid-area: overlap;
    justify-self: center;
    z-index: 2;

}

.items2{
    background-image: url("images/GoldFrame_MovingEyes.png"); 
    background-size:100% auto;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 300px;
    height: auto;
    grid-area: overlap;
    /*align-self: center;*/
    justify-self: center;
    z-index: 3;

}

.container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "overlap"; 
    height: 100vh;
    position: relative;
}